:root {
  --white-base: #FBFBFF;
  --black-base: #000000;
  --primary: #8fd5a6;

  --art: #c76bff;
  --science: #71ff7f;
  --history: #feef8f;
  --geography: #00adeb;
  --entertainment: #fe8ff3;
  --sports: #ffbf84; 
  --random: #c4c4c4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--black-base);
  background-color: var(--primary);
  font-family: 'JetBrains Mono', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

button{
  font-family: 'JetBrains Mono', monospace;
  border: 5px solid #000000;
}

